.Page{
    background-image: url(./../Fotos\ para\ proyecto/Pokeball_Loading.gif);
    width: 101em;
    height: 45em;
    background-repeat:no-repeat;
    background-position: center;
    margin: 1em;
    padding: 1em;
    border: .0625em solid black;

}

.Loading{
    position: center;
    margin-top: 6em;
}

