.Nav{
    /* border: .0625em solid red; */
    width: 20%;
    height: 10%;
    position: relative;
    left: 41%;
    text-align: center;

}

.Paginado{
    /* border: .0625rem solid yellow; */
    display: flex;
    list-style:none; 
    text-align: center;
    position: relative;
}

.Pag{
    border: .0625em solid black; 
    background-color: rgb(156, 155, 155);
    font-weight: 900;
    margin-left: 2em;
    position: relative;
    right: 2.5em;
    width: 3em;
    height: 1.5em;
}