.SearchBar{
    /* border: .0625em solid red; */
    width: 13%;
    height: 40%;
    position: relative;
    left: 42%;
    top: 1em;
    margin: 2em
}

.PlaceHolder{
    text-align: center;
}

.Boton{
    border: .0625em solid black; 
    background-color: rgb(156, 155, 155);
    font-weight: 750;
    margin-left: 1em;
}